/* Signup.module.css */

/* The styles for the outer container */
.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./bg3.png');
    
  }
  
  /* The styles for the inner container */
  .container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background: #ffffff;
    border-radius: 8px;
    height: 45%;
    width: 30%;
    padding: 20px;
    color: #fff; /* 흰 배경색 */
    text-align: center; /* 중앙 정렬 추가 */
    gap: 50px; 
    margin-top: -50px; /* Move the container 50px up */
  }
  
  /* Heading styles */
  .heading {
    text-align : left;
    color: #888888;
    font-size: 23px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(166, 166, 166);
  }
  
  /* The styles for the form element */
  .form {
    margin-top:-50px; /* Move the form 50px up within the container */
  }
  
  /* The styles for input fields inside the container */
  .input {
    background-color: #fff; /* 흰 배경색 */
    color: #000; /* 검은 글자색 */
    border: 1px solid #007bff;
    padding: 15px 20px; /* 위아래 15px, 좌우 20px 패딩 */
    width: 100%;
    
    /* 스타일링 placeholder 텍스트 (초기값 텍스트) */
    &::placeholder {
      color: #ccc; /* 회색으로 변경 */
    }
  }
  
  .input:focus {
    box-shadow: 0px 0px 5px rgb(96, 126, 249);
    outline: none; /* 기본 아웃라인 제거 (선택사항) */
  }
  
  .button:hover {
    background-color: #2465d6; /* 마우스 오버 시의 배경색 */
    color: white; /* 마우스 오버 시의 글자색 */
  }
  /* The styles for the button inside the container */
  .button {
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
  }
  
  /* Styles for the error message */
  .errorMessage {
    color: red;
    text-align: center;
  }
  
  .footer{
    background-color: rgba(255, 255, 255, 0.588); /* 푸터의 배경색 */
      color: rgb(0, 0, 0);
      text-align: center; /* 텍스트 중앙 정렬 */
      position: absolute; /* 위치 설정 */
      bottom: 0; /* 하단에 고정 */
      width: 100%; /* 전체 너비 */
  }
  
  .header{
    display: flex; /* 플렉스 레이아웃 설정 */
    align-items: center; /* 수직 방향 중앙 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    background-color: #00000047; /* 해더의 배경색 */
    color: rgb(0, 0, 0); /* 해더 내 텍스트 색상 */
    height: 60px; /* 세로 높이 */
    width: 100%; /* 가로 너비 */
    position: fixed; /* 고정 위치 */
    top: 0; /* 상단에 위치 */
    left: 0; /* 왼쪽에서 시작 */
    z-index: 1000; /* 다른 요소들 위에 레이어링 */
  }