.maincontainer {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh;
    background-image: url('./bg3.png');
}

.main_card{
  margin: 20px 20px 20px 20px;
  width: 400px;
  height: 500px;
}

.main_text{
    font-family: 'HSBombaram21-Regular';
    word-spacing:9px;
    /* writing-mode: vertical-lr; */
    font-size: 35px;
    position: relative;
    color: #ffffff;
    margin: 20px 20px 20px 20px;
}

.main_footer{
    background-color: rgba(255, 255, 255, 0.588); /* 푸터의 배경색 */
    color: rgb(0, 0, 0);
    text-align: center; /* 텍스트 중앙 정렬 */
    position: absolute; /* 위치 설정 */
    bottom: 0; /* 하단에 고정 */
    width: 100%; /* 전체 너비 */
}

/* .main_inputbox{
    width: 100;
    height: 100;
} */

.main_input {
    border-radius: 5px;
    padding: 15px 20px;
    width: 100%;
    border: 1px solid #007bff; /* 굵기와 색상 변경 */

  }

  .button:hover {
    background-color: #2465d6; /* 마우스 오버 시의 배경색 */
    color: white; /* 마우스 오버 시의 글자색 */
}

.main_input:focus {
    box-shadow: 0px 0px 5px rgb(96, 126, 249);
    outline: none; /* 기본 아웃라인 제거 (선택사항) */
}

.main_header{
    display: flex; /* 플렉스 레이아웃 설정 */
    align-items: center; /* 수직 방향 중앙 정렬 */
    justify-content: flex-start; /* 왼쪽 정렬 */
    background-color: #00000047; /* 해더의 배경색 */
    color: rgb(0, 0, 0); /* 해더 내 텍스트 색상 */
    height: 60px; /* 세로 높이 */
    width: 100%; /* 가로 너비 */
    position: fixed; /* 고정 위치 */
    top: 0; /* 상단에 위치 */
    left: 0; /* 왼쪽에서 시작 */
    z-index: 1000; /* 다른 요소들 위에 레이어링 */
}

.error-message {
    color: red; /* 글자색을 빨간색으로 지정 */
  }

.main_links{
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.main_header_logo {
    margin-left: 30px;
    height: 60px; /* 로고 이미지의 높이 */
    margin-right: 20px; /* 오른쪽 여백 */
}

@font-face {
    font-family: 'HSBombaram21-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
  }
  
  .joinInnerContainer {
    width: 20%;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  
  .button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
  }
  
  /* 추가된 스타일 */
  .error-message {
    color: red; /* 글자색을 빨간색으로 지정 */
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  button:focus {
    outline: 0;
  }
  
  .input {
    background-color: #fff; /* 흰 배경색 */
    color: #000; /* 검은 글자색 */
    border: 1px solid #007bff;
    padding: 15px 20px; /* 위아래 15px, 좌우 20px 패딩 */
    width: 100%;
    
    /* 스타일링 placeholder 텍스트 (초기값 텍스트) */
    &::placeholder {
      color: #ccc; /* 회색으로 변경 */
    }
  }

  @media (max-width: 768px) {
    .maincontainer {
      display: flex;
    align-items: center; /* vertically centers child items */
    justify-content: center; /* horizontally centers child items */
    }
    .main_text{
      display: none;
  }
  .main_card{
    align-items: center;
    justify-content: center;
}
  }