/* Add this CSS below your existing CSS code */
.detail-container {
  background-color: #fff;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

  
  .detail-container .detail-section {
    margin-bottom: 15px;
  }
  
  .detail-container .form-label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .detail-container p {
    margin: 0;
    padding: 5px 0;
  }
  
  .detail-container .bottom-section {
    width: 100%;
    padding: 10px;
    border: 1px solid #343a40;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  
  /* Adjust styles for smaller screens */
  @media (max-width: 768px) {
    .detail-container {
      padding: 10px;
    }
  }

  /* Additional styles for .actionButtons */
.detail-container .actionButtons {
  display: flex;
  align-items: center;
}
  