Subject: {{ subject }}

{{ email }}

{% block subject %}{{ subject }}{% endblock %}

{% block text %}

{{ body }}

{% endblock %}

{% block html %}
<!DOCTYPE html>
<html>
<body>
    <h2>{{ subject }}</h2>
    <p>{{ body }}</p>
    <p>
        To reset your password, click the following link:
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            Reset Password
        </a>
    </p>
    <p>If you don't remember your username, it is: {{ user.get_username }}</p>
    <p>Thank you for using {{ site_name }}.</p>
    <p>{{ site_name }} Team</p>
</body>
</html>
{% endblock %}
